
@mixin fontDefault( $s : 1em , $b : normal ) {
	font : {
		size : $s;
		weight : $b;
		vertical-align: middle;
	}
	height: $s + 2px;
	line-height: $s + 2px;
	text-decoration: none;
	color : #181c1f;
}

div.bbsCon { position: relative;
	p.numInfo { float: right; margin-bottom: 15px;
		span { @include fontDefault( 14px , 500 ); }
		span.split { margin: 0 3px; }
		span b { color: #ed2125; margin-left: 3px; }
	}
	p.titleMenu { position: absolute; top: -125px; right: 0; }
}
div.bbsCon.type2 {
	margin-top: 40px !important;
	p.titleMenu { position: absolute; top: -95px; right: 0; }
}

div.util.faq { width: 100%; display: inline-block; background: #f8f8f8; padding: 29px 0; margin-top: 70px;
	div p.desc { margin-bottom: 13px; margin-left: 15px; }
	div.leftCon { float:left; margin-left: 29px; border-right: 1px solid #e8e8e8; padding-right:29px; width: 70%; text-align: left;
		input[type=text] { width: 76.5%; }
		button { width: 139px; height: 38px; border: none; background: #999; color: #fff; }
	}
	div.rightCon { float:left; margin-left: 29px;
		button { width: 218px; height: 38px; border: none; background: #999; color: #fff; }
	}
}

div.faq { margin-top: 39px !important;

	div.cateBox { width: 100%; margin-bottom: 40px; display: inline-block;
		button { float: left; width: 20%; background: #fff; color: #333; height: 48px; border: 1px solid #e8e8e8; outline: none; cursor: pointer;}
		button:not(:first-child) { border-left:none; }
		button.on { background: #004181; color: #fff; border-color: #004181; }
	}
	tbody tr td:last-child { text-align: left !important; }
	tbody tr.typeA { display: none; }
	tbody tr.typeA div.answer { display: block; position: relative; width: calc(100% - 94px); line-height: 25px; background-color: #f8f8f8; padding: 40px 25px 40px 69px; overflow-y: auto;
		span.content { display: block; width: 100%; white-space: normal; }
	}
	tbody tr.typeA.on { display: table-row; }
	
	tbody tr.typeQ td:last-child { background: url(../images/download/up-i.png) no-repeat calc(100% - 9px) center; padding-right: 20px; }
	tbody tr.typeQ td:last-child::before { content: 'Q'; display: inline-block; width: 26px; height:26px; line-height: 26px; border-radius: 50%; background: #ccc; color:#fff; text-align: center; margin-right: 13px; font-size: 13px; }
	tbody tr.typeQ.on td:last-child { background: url(../images/download/dropdown.png) no-repeat calc(100% - 9px) center; }
	tbody tr.typeQ.on td:last-child::before { background: #666; }
	
	tbody tr button { display: none; }
	tbody tr.on button { display: block; }

	tbody tr.typeA td:last-child div.answer::before { 
		content: 'A'; display: block; position: absolute; width: 42px; height:42px; line-height: 42px; border-radius: 50%; background: #004181; color:#fff; text-align: center; top: 28px; left: 14px; }
}

div.faq.modi { width: 100%; border-top: 1px solid #666; border-bottom: 1px solid #ccc; padding: 0;
	p.line { display: block; height:  72px; line-height: 72px; width: 100%; margin: 0; text-align: left; }
	p.line:not(:first-child) { border-top: 1px solid #e8e8e8; }
	span.label , span.input { height:  72px; line-height: 72px; float: left; }
	span.label { @include fontDefault( 16px , 500 ); height:  72px; line-height: 72px; width: 18%; padding-left: 38px; }
	span.input { background: #fff; width: calc(82% - 38px); }
	span.input select { width: 254px; }
	span.input input[type=text] { width: 40%; }
	span.input button { width: 15%; background: #bbb; color: #fff; height: 40px; line-height: 38px; border: 1px solid #e8e8e8; outline: none; cursor: pointer; }
	span.input button.white { background: #fff; color: #333; }
	span.input button.white.calendar { width: 59px; float:left; }
	span.input button.white.calendar.on , span.input button.white.calendar:hover { background: #004181; color: #fff; border-color: #004181; }
	span.input button.white.calendar:not(:first-child) { border-left: none; }
	span.calendarBtns { display: inline-flex; margin-left: 11px; }
}

div.bbsCon{

	tr.notice td:first-child { color: rgba(237,33,37,.8) !important; }
	div.bbsHeader { position: relative;
		h5 { display: inline-block; width: auto; @include fontDefault( 20px , 400 ); padding-bottom: 20px; }
		button { float: right; width: 180px; height: 40px; line-height: 40px; position: absolute; right: 0; bottom: 15px; }
	}
	
	div.detail{
		width: 100%; border-top: 1px solid #666; border-bottom: 1px solid #ccc; padding: 0; color: #333;
		p.t_title { @include fontDefault( 18px , 400 ); height: 82px; line-height: 82px; padding: 0 20px; border-bottom: 1px solid #eee; padding: 0 20px; background: #f8f8f8; }
		p.t_info { height: 56px; line-height: 56px; border-bottom: 1px solid #eee; padding: 0 20px; background: #f8f8f8; }
		p.t_info {
			span { font-weight: 300; }
			span b { font-weight: 500; }
			span b::after { content : ":"; margin: 0 10px; margin-right: 17px; }
			span.view_cnt , span.date { float: right; margin-left: 57px; }
		}
		div.t_content { padding: 66px 29px 72px 29px; line-height: 25px; border-bottom: 1px solid #eee; letter-spacing: 0; }

		div.t_answer::before { content: 'A'; display: block; position: absolute; width: 42px; height:42px; line-height: 42px; border-radius: 50%; background: #004181; color:#fff; text-align: center; top: 21px; left: 50px; }
		div.t_answer { padding: 29px 0; position: relative;
			p.titleCon { 
				padding-left: 105px;
				span.title { @include fontDefault( 17px , 400 ); display: block; margin-bottom: 2px; }
				span.a_date{ @include fontDefault( 13px , 300 ); display: block; }
			}
			div.a_content { padding: 29px 0 83px 105px; line-height: 25px; letter-spacing: 0;}
		}

		tbody th { @include fontDefault( 16px , 400 ); display: table-cell; text-align: left; vertical-align : middle; background: #f8f8f8; width: 18%; padding-left: 2.5%; }
		table.write tbody td { text-align: left !important; }
	}

	table.write {
		select { width: 474px; margin: 0;}
		tbody td { padding: 0 15px 0 29px !important; }
		span.desc { display: block; }
		div.fileBox { display: inline-block; width: 100%; vertical-align: middle;
			p.container { display: block; padding: 10px; height: 18px; line-height: 20px; width: 621px; border: 1px solid #e8e8e8; float: left; }
			button { display: block; float: left; height: 40px !important; background: #bbb !important; color: #fff !important; width: 200px !important; margin-left: 13px; }
		}


	}

	div.util {display: inline-block; width: 100%; margin-bottom: 67px; margin-top: 49px;}
	div.util button { float: right; width: 150px; }
	div.util button:nth-child(2) { margin: 0 13px; }
	div.util:after { content: " "; clear: both; }

	div.util.center { display: inline-block; text-align: center; width: 100%; }
	div.util.center button { float: none; }

	div.util.type2 { text-align: center; }
	div.util.type2 button { float: none; width: 275px; }

	div.sectionPrevNext { 
		p.con { height: 56px; line-height: 56px; cursor:pointer; }
		p.con:first-child { border-bottom: 1px solid #e8e8e8; }
		p.con {
			span { margin : 0 17px; margin-right: 47px; }
			a { text-decoration: none; color: #333; }
		}
		p.prev span::after { content: " "; background: url(../images/download/dropdown.png) no-repeat center calc(50% - 3px); display: inline-block; width: 20px; height:56px; line-height: 56px; vertical-align: middle; font-size: 20px; margin-left:10px; }
		p.next span::after { content: " "; background: url(../images/download/up-i.png) no-repeat center calc(50% - 3px); display: inline-block; width: 20px; height:56px; line-height: 56px; vertical-align: middle; font-size: 20px; margin-left:10px; }
		p.con:hover a { text-decoration: underline; }
	}

	div.innerTd p.pagingCon { margin: 0 !important; display: inline-block; vertical-align: middle;
		span.inner { line-height: 42px; }
	}
}

.btn_bottom { display: inline-block; width: 100%; text-align: center; }


.innerForm {
	div.formField { display: inline-block; width: 100%; margin-bottom: 53px; border-bottom: 1px solid #ccc; }
	h5.formHeader { display: inline-block; width: 100%; @include fontDefault( 18px , 400 ); padding-bottom: 20px;  border-bottom: 1px solid #666; }
	h5.formHeader.line { padding-bottom: 0px; height: 2px; }
	span.inputCon { width: 50%; float: left; display: inline-block; line-height: 64px; border-bottom: 1px solid #eee; vertical-align: middle;
		label { display: inline-block; width: 170px; @include fontDefault( 14px , 300 ); margin-left: 15px; }
		select { margin: 0; width: 150px; margin-top: 10px; }
		textarea { width: 80%; }
		input { max-width: calc(100% - 235px); }
		label { float: left; height: 64px; line-height: 64px; }
	}
	span.inputCon.full { width: 100%;;
		input[type=text] { width: calc(30% - 15px) }
		textarea { height: 80px; display: inline-block; float: left; margin: 14px 0; font-size: 14px; line-height: 20px; }
	}
	span.inputCon.right {
		label { text-indent: 50px; }
	}
	span.inputCon.type2 { width: 100%;
		label , select { float: left; }
		label:not(:first-child) { width: 85px; text-indent: 15px; }
	}
	span.inputCon:last-child { border-bottom: none; }
}

form.read-only {
	span.inputCon{
		input[type=text] {  }
	}
}



colgroup.col_notice{
	col:nth-child(1) { width: 7%; }
	col:nth-child(3) { width: 10%; }
	col:nth-child(4) { width: 8%; }
	col:nth-child(5) { width: 7%; }
}

colgroup.col_question {
	col:nth-child(1) { width: 7%; }
	col:nth-child(2) { width: 10%; }
	col:nth-child(4) { width: 8%; }
	col:nth-child(5) { width: 8%; }
}

colgroup.col_faq {
	col:nth-child(1) { width: 10%; }
	col:nth-child(2) { width: 20%; }
	col:nth-child(3) { width: 70%; }
}

colgroup.col_partners_comstomer {
	col:nth-child(1) { width: 10%; }
	col:nth-child(2) { width: 15%; }
	col:nth-child(3) { width: 10%; }
	col:nth-child(4) { width: 15%; }
	col:nth-child(5) { width: 10%; }
	col:nth-child(6) { width: 20%; }
	col:nth-child(7) { width: 10%; }
	col:nth-child(8) { width: 10%; }
}