@import "./common_s.scss";

$over-color : #0070d9;

div.subCon{ margin-top: 70px; display: inline-block; width: 100%;

	h5.title { display: inline-block; @include fontDefault( 19px , 400 ); margin-bottom: 25px; }
	div.conBox { width: calc(50% - 38px); border: 1px solid #ddd; display: block; position:relative; float: left; padding: 45px 0px 45px 36px;
		p.content { width: 30%; min-width: 270px; display: inline-block; line-height: 25px; vertical-align: middle;
			span.title { display: block;  font-weight: 300; height: 25px; line-height: 27px; }
			span.radioBox { margin-left: 10px }
			span.conText { width: 100%; display: inline-block; @include fontDefault( 14px , 300 ); line-height: 20px; letter-spacing: -.3px; vertical-align: super; }
		}
		span.btnSet { display: inline-block; position: absolute; top: calc( 50% - 19px ); right: 28px; }
	}
	div.conBox.full { width: calc(100% - 36px); clear: both; }
	div.conBox.manual { width: calc( 92% ); padding-left: 8%; border-left: none; border-right: none; background: url(../images/download/usermanua.png) no-repeat 36px center; }
	div.conBox:not(.full):nth-child(even){ border-left: none; width: calc(50% - 37px); }
	div.conBox:not(.full):nth-child(n+3) { border-top: none; }

	select { width: 153px; margin:0; margin-right: 5px; }
	button.download {
		outline: none; background: #fff; border: 1px solid #ddd; padding: 13px 27px 13px 49px; @include fontDefault(14px , 400); height: 38px; line-height: 10px;
		background: url(../images/download/download-icon.png) no-repeat 19px 13px;
		&:hover { background-color: #f8f8f8; }
	}

	.t-util { margin-left: 20px; }
	div.conList { display: inline-block; width: 100%; @include fontDefault( 14px , 300 );
		p.list { display: block; width: calc(100% - 14px); padding: 27px 0 27px 14px; border-top: 1px solid #ddd;
			span { text-align: center; display: inline-block;}
			span.t-type { width: 10%; min-width: 80px; }
			span.t-version { width: 7%; min-width: 70px; }
			span.t-content { width: 60%; text-align: left; }
			button { float: right; margin-top: -12px; }
		}
		p.list:last-child { border-bottom: 1px solid #ddd; }
	}
}
div.subCon:last-child { margin-bottom: 100px; }

div.releaseNote { @include fontDefault(13px , 300); margin-top: 18px;  padding: 10px; letter-spacing: 0; display: inline-block;
	p.title { display: inline-block; background: url(../images/download/exclamationmark.png) no-repeat;padding-left: 30px; height: 25px; line-height: 25px; vertical-align: middle; margin-bottom: 10px;
		span.t-date { margin-left: 10px; }
	}
	p.list { background: url(../images/download/comment.png) no-repeat 12px 2px; padding: 0 10px; display: block;padding-left: 30px;height: 25px; }
}


div.member-join { 
	div.process { display: block; width: 100%; margin: 60px 0;
		div.inner { display: inline-block; text-align: center; width: 100%; position: relative;}
		p.procNum { display: block; width: 20%; text-align: center; float: left; 
			span.p-bg { display: inline-block; width: 63px; height:63px !important; line-height: 63px !important; 
				text-align: center; vertical-align: middle; @include fontDefault(20px); border-radius: 50%; border: 15px solid #fff;
				background: #f5f5f5; color: #aaa;
			}
			span.p-name { display: block; @include fontDefault(15px , 300); color: $text_color_2; margin-top: 12px; text-align: center; width: auto; }
		}
		p.procNum.on span.p-bg { background: $btn_color_blue; color: #fff; }
		p.procNum:last-child { margin-right: 0; }
		div.inner::before { content: " "; display: inline-block; width: 80%; border-top: 1px solid #ddd; top: 36%; left:10%; position: absolute; z-index: -1; }
	}
	div.process::after { clear: both; }

	div.form { 
		div.a-title-con { display: inline-block; width: 100%; padding-bottom: 20px; background : url(../images/download/join-s-1.png) no-repeat 25px 10px; padding: 20px 0 30px 85px;
			h5.a-title { @include fontDefault(22px , 400); margin: 0 35px 0 15px; float: left; line-height: 31px; }
			p.a-text { width: 80%; float:left; @include fontDefault(14px , 300); letter-spacing: 0; height: auto;}
		}
		div.a-title-con.policy { background-image: url(../images/download/join-s-2.png); }
		div.a-title-con.join { background-image: url(../images/download/join-s-3.png); }
		div.a-title-con.confirm { background-image: url(../images/download/join-s-4.png); }
		div.a-title-con.complete { background-image: url(../images/download/join-s-5.png); }

		div.a-form { border-top : 1px solid #ddd; border-bottom: 1px solid #ddd;
			p.line{ padding: 13px 0;
				span { line-height: 40px !important; }
				span.label { display: inline-block; width: 15%; min-width: 120px; margin-left: 13px; @include fontDefault(14px , 300); float: left; }
				span.input { display: inline-block; width: 83%;
					input , button , select , > span { float: left; margin: 0 5px; }
					input.input-comp { width: 60%; max-width: 455px !important; }
					input.type1 , input.email { width: 50%; max-width: 440px !important; }
					select.phone { width: 130px; }
					input.phone { width: 102px; }
					input.phone::before { content : "-"; display: inline-block; line-height: 40px; margin: 0 5px; }
					input.auth-number { width: 123px; }
					button { width: 200px; height: 40px; line-height: 20px; }
					select { width: 189px; }
					span.timer-limiter { color: #f04b45; margin: 0 37px; font-size: 13px; letter-spacing: 0; }
					span.desc , b.notice { font-size: 13px; font-weight: 300; }
					span.desc { color: #999; }
					b.notice { content: "/f06a"; display: block; clear: both; color: #ff3333; line-height: 10px; padding-top: 15px; padding-left: 15px; }
					span.email { margin:0; color: #0066ff; }
				}
				span.input::after { content: " "; clear: both; }
			}
			p.line:nth-child(n+2) { border-top: 1px solid #ddd; }
		}
		div.a-form:nth-child(n+3) { margin-top: 50px; }
		div.a-form:last-child { margin-bottom: 50px;; }
		
		div.policyCon { width: calc(100% - 54px); height: 172px; overflow-y: auto; overflow-x: hidden; padding: 40px 26px; border: 1px solid #ddd; }
		div.policyCon pre { white-space: pre-wrap; line-height: 25px; font-size: 14px; font-weight: 300; letter-spacing: -.3px; }
		div.btnSet { text-align: right; }

		div.formHeader { margin-bottom: 20px; position: relative;
			h3 { @include fontDefault(17px , 400); margin-bottom: 10px; }
			h5 { @include fontDefault(14px , 300); }
			.btnSet { position: absolute; right: 0; bottom: -8px; }
		}
		.btnSet { text-align: right; margin-top: 25px; }

		div.a-form.complete { padding: 107px 29px 110px 29px;
			div.formHeader h5 { line-height: 25px; }
		}
	}
}

div.util { width: 100%; display: inline-block; text-align: center;
	button:nth-child(n+2) { margin-left: 10px; }
}

div#selectMemberTypeCon { margin-top: 70px;
	div.boxCon { display: inline-block; border: 1px solid #e6e6e6; width: calc(50% - 2px); text-align: center; padding: 71px 0 63px 0; float:left; cursor:pointer;
		h3 { @include fontDefault( 22px , 400 ); }
		a { display: inline-block; @include fontDefault( 16px , 300 ); margin-top: 175px;  }
	}
	div.boxCon:nth-child(1) { background: url(../images/download/hmg-id.png) no-repeat 50% 50%; }
	div.boxCon:nth-child(2) { background: url(../images/download/generalmember.png) no-repeat center center; }
	div.boxCon:hover {
		border-color: $over-color;
	}
}

div.contents.login{ width: 900px !important;
	h3.conTitle , h5.conSubTitle { text-align: center; }
	div.loginCon { border-top: none; margin-top:67px;
		div#switchMember { display: inline-block; width: 100%;
			button { border: 1px solid #e6e6e6;  background: #fff; width: calc(50%); float:left; height:50px; line-height: 50px; outline: none; }
			button.on { border-color: $over-color; background-color: $over-color; color:#fff; }
		}
	}
	div.formCon { border: 1px solid #e6e6e6; width: calc(100% - 2px); display: inline-block; text-align: center; border-top: none; margin-top: -2px; }
	div.formCon form { display: inline-block; width: 610px; margin: 56px 0 107px 0; 
		h3 { @include fontDefault(20px); background: url(../images/download/peopleicon.png) no-repeat 0 3px; line-height: 20px; padding-left: 25px; display: inline-block; margin-bottom:38px; }
		select , input[type=submit] { width: 608px; }
		select { margin:0; }
		input[type=text] , input[type=password] { width: 580px;}
		input[type=submit] { outline: none; background: $btn_color_blue; border:none; color:#fff !important; height: 50px; line-height: 50px; @include fontDefault(16px); }
		input { margin-top: 10px; }
	}
	div.formCon.type2 { border-left: none; border-right: none;
		form { width: 792px; margin-bottom: 48px; }
		h3 , h5 { display: block; text-align: left; }
		h3 { @include fontDefault(24px); margin-bottom: 15px; }
		h5 { @include fontDefault(16px , 300); }
		span.desc { display: block; @include fontDefault(13px , 300); margin-top:20px; text-align: left; letter-spacing: -.3px;}
		div.chkType { background: #f9f9f9; width: 100%; display: inline-block; padding: 22px 0; margin-top: 48px;
			input[type=checkbox] { margin-top:0; }
			label { font-weight: 300; 
				.chk-value { color: $over-color; }
			}
		}
		div.centerBox { width: 100%; display: inline-block; text-align: center; margin: 59px 0 50px 0;
			input[type=text] {  @include fontDefault(18px , 400); letter-spacing: 0; }
			input#authNumber { text-align: center; color: #333; width: 490px; }
			input.chgPassInput { text-align: left; width: 490px; }
			input.chgPassInput:nth-child(n+2) { margin-top: 40px; }
			span.noticeCon { color: #ff3333; display: inline-block; width:100%; margin-top: 15px; font-size: 13px; text-align: left;}
			input.chgPassInput + span.noticeCon { width: 490px; padding-left: 25px; }

			span#authTime { text-align: center;
				b { margin-left: 5px; letter-spacing: 0; font-weight: 300; }
			}
		}
	}
	div.helpText { @include fontDefault(12px , 300); line-height: 22px; min-height: 65px; padding-left: 81px; background: url(../images/download/noti.png) no-repeat; margin: 47px 0 63px 0; }
	div.formField { border-top: 1px solid #ccc;  border-bottom: 1px solid #eee;
		span.inputCon {
			* { float: left; }
			span.split { margin: 0 10px; }
			label { text-align: left; background: #fafafa; margin: 0 15px 0 0; text-indent: 35px; }
			input[type=text] { margin-top: 12px; }
			select {  margin-top: 12px; }
		}
		span.email {
			input[type=text] { width: 122px; }
			select { width: 185px; margin-left: 10px; }
		}
		span.phone {
			select { width: 95px; }
			input[type=text] { width: 66px; text-align: center; }
		}
	}
	
}



