
input[type=text] , input[type=password] { height: calc(20px - 2px); border:1px solid #e6e6e6; padding: 10px 13px; color: #bfbfbf; }
input[type=text] , input[type=password] { width: 100%; max-width: 300px; }
input[type=text]:focus , input[type=password]:focus { border: solid 1px #333; color: #333333; outline: none; }
input.invalid  { border: solid 1px #f33; }
input + label { cursor: pointer; }

textarea { width: calc(100% - 30px); resize: none; border: solid 1px #e6e6e6; color: #333; font-size: 15px; line-height: 25px; padding: 15px; outline: none; }

input[type=checkbox], input[type=checkbox]:checked, input[type=radio] , input[type=radio]:checked  { appearance: none; -moz-appearance: none; -webkit-appearance: none; border:none; outline: none; }
input[type=checkbox] { display: inline-block; height: 25px; line-height: 25px; padding-left: 25px; vertical-align: middle; cursor:pointer; font-size: 15px; }
input[type=checkbox] { background: url(../images/download/box-ch-off.png) no-repeat 0 0;  }
input[type=checkbox]:checked { background: url(../images/download/box-ch-on.png) no-repeat 0 0; }
input[type=checkbox].circle { background: url(../images/download/circle-ch-off.png) no-repeat 0 0;  }
input[type=checkbox].circle:checked { background: url(../images/download/circle-ch-on.png) no-repeat 0 0;  }

input[type=radio] { display: inline-block; width: 25px; height: 25px; background: url(../images/download/circle-ch-off.png) no-repeat 0 0; }
input[type=radio]:checked { background: url(../images/download/circle-ch-on.png) no-repeat 0 0; }

select { 
    appearance: none; -moz-appearance: none; -webkit-appearance: none;  
    padding: 10px; height: 40px; display: inline-block; border: 1px solid #e6e6e6; margin-left: 29px; margin-right: 20px;
    background: url(../images/download/up-i.png) no-repeat #fff calc(100% - 10px) center; padding-right: 20px; outline: none;
}
input[type=checkbox]::-ms-expand , select::-ms-expand {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    input[type=checkbox], input[type=checkbox]:checked, input[type=radio] , input[type=radio]:checked { background : none; width: 25px; height: 25px; }
}