
$bg-color : #f9f9f9;
$bg-color-on : #fff;

$line-color : #e6e6e6;
$line-color2 : #f5f5f5;
$line-color-on : #666;
$line-color-table-1 : #aaa;
$line-color-table-2 : #eee;
$txt-color : #666;

$col-blue : #0070d9;

#supportDevices{
	p.serchCon { text-align: left !important; }
	p.serchCon label { float:left; line-height: 40px; margin-right: 90px; margin-left: 31px; font-size: .85em;  }
	div.filterCon {
		div.btnSet { background: #eaeaea; display: inline-block; width: 100%;
			button { width: 50%; outline: none; border: 1px solid $line-color; float: left; padding: 13px 0; background: #fff;
				span.name { line-height: 30px; height: 30px; padding-left: 39px; display: inline-block; }
			}
			button.android span.name { background: url(../images/download/android-icon-1.png) no-repeat; }
			button.ios span.name { background: url(../images/download/apple-icon-1.png) no-repeat; }
			button:not(:first-child) { border-left: none; }
			button.on { border-color: $line-color-on; border-left: 1px solid $line-color-on; }
		}
		div.filters { border-top: 1px solid $line-color; border-bottom: 1px solid $line-color; margin-top: 35px;
			table { border: none !important; }
			tr.line { border-bottom: 1px solid $line-color; width: 100%; }
			tr.line:last-child { border-bottom: none; }
			td.label { width: 130px; padding: 0 0 0 30px; background-color: $bg-color; height:40px; line-height: 40px; text-align: left !important; font-weight: 400; }
			td.box { width: calc(100% - 130px); padding: 10px 0 0 15px; line-height: 14px;
				div.innerBox { width: 100%; display: inline-block; width: 100%; min-height: 45px;
					li { display: inline-block; min-width: 100px; float: left; margin-right: 10px; margin-bottom: 10px; padding: 10px 0; text-align: center; border: 1px solid $line-color2; background-color: $line-color2; color: $txt-color;  cursor: pointer; }
					li.on { border-color: $line-color-on; background-color: $bg-color-on; color: $line-color-on; }
					li:hover { border: 1px solid $line-color-on; background: $bg-color-on; }
				}
			}
		}
		div.filterList.filterList { border-top: none; border-bottom: 1px sold $line-color2; 
			td.label button.reset { text-align: left; width: auto; min-width: 90px; padding-left: 0px; background: transparent; border: none; outline: none; background: url(../images/download/mobile-initialize.png) no-repeat calc(100% - 15px) 50%; }
			td.box { padding:0; background: $bg-color;
				div.innerBox { margin-top: 10px; margin-left: 15px;
					li { text-align: left; padding: 12px 0 10px 15px; min-width: 114px; border:none; background :url(../images/download/mobile-close.png) no-repeat calc(100% - 12px) 50% #fff; cursor: pointer; }
				}
			}
		}
		div.toggle_btnCon { display: inline-block; text-align: center; width: 100%; padding: 21px 0;
			button.toggle_filters { width: 41px; height: 41px; background: url(../images/download/filtericon.png) no-repeat; border: none; outline: none;}
			button.toggle_filters.close { background-image: url(../images/download/filtericon-close.png); }
		}
		td.label { font-size: .85em !important; }
	}
	div.deviceList { margin-top: 35px; display: inline-block;
		li.deviceInfo { padding: 30px 29px 62px 29px; border: 1px solid $line-color; background: $bg-color-on; width: calc(264px - 58px); display: inline-block; float: left; margin: 0 12px 12px 0;
			p { display: block; font-size: .95em; font-weight: 400; margin-bottom: 47px; }
			span.img { float: left; margin-right: 30px; }
			span.info { line-height: 1.1em; height: 1.1em; font-size: .8em; font-weight: 300; float: left; width: 96px; margin-top: .6em; color: $txt-color;
			max-width: 96px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
			}
			span.info:first-child { margin-top: 30px; }
			span.info::before { content: "\00B7"; margin-right: 5px; font-weight: 400; }
		}
		li.deviceInfo:nth-child(4n) { margin-right: 0; }
	}
}
div#paymentInfoCon { margin-top: 60px;
	h1 { text-align: center; font-size: 40px; font-weight: 200; line-height: 40px; margin-bottom: 48px; color:#222; }
	h3 { text-align: center; font-size: 30px; font-weight: 200; line-height: 30px; margin-bottom: 35px; color:#222; }
	div.floatListContainer{ display: inline-block; width: 100%;
		li { float: left; }
	}
	div.floatListContainer.service{
		li { width: 156px; padding-top: 171px; background: url(../images/download/point-icon-001.png) no-repeat; margin-right:32px; text-align: center; color:#333; font-weight: 300; }
		li:nth-child(2) { background-image: url(../images/download/point-icon-002.png); }
		li:nth-child(3) { background-image: url(../images/download/point-icon-003.png); }
		li:nth-child(4) { background-image: url(../images/download/point-icon-004.png); }
		li:nth-child(5) { background-image: url(../images/download/point-icon-005.png); }
		li:nth-child(6) { background-image: url(../images/download/point-icon-006.png); margin-right: 0; }
	}
	div.btnSet { display: inline-block; width: 100%; text-align: center; margin: 68px 0; }
	div.noticePointpolicy { margin-top: 50px;
		h3 { margin-bottom: 13px; }
		p.notice { font-weight: 300; font-size: 16px; color: $col-blue; text-align: center; margin-bottom: 45px; }
		li { width: 352px; height: 148px; background: url(../images/download/point-icon-007.png) no-repeat 100% 50%; border: 1px solid $line-color; margin-right: 19px;
			p { margin-left: 36px; }
			p.prodNm { margin-top: 54px; color: #333; }
			p.prodPolicy { margin-top: 13px; color: $line-color-on; font-weight: 300; font-size: 13px;
				span { color: $col-blue }
			}
		}
		li:nth-child(2) { background-image: url(../images/download/point-icon-008.png); }
		li:nth-child(3) { background-image: url(../images/download/point-icon-009.png); margin-right: 0; }
	}
	div.infoTableCon { margin-top: 18px;
		div.tableCon { display: inline-block; width: 100%; }
		small.notice { display: inline-block; font-size: 13px; font-weight: 300; margin: 10px 0; }
		small.notice::before { content : "\203B"; margin-right: 5px; }
		small.notice.right { float:right; }
		small.notice.left { float:left; color: #999; }
		table { width: 100%; border-bottom: 1px solid $line-color-table-1; border-top: 1px solid $line-color-table-1; font-size:15px; font-weight: 300; color: #333;
			thead { background: #fafafa; border-bottom: 1px solid $line-color-table-2;
				th { padding: 19px 0; text-align: center; }
			}
			tbody {
				tr { border-bottom: 1px solid $line-color-table-2;
					td { padding: 19px 0; text-align: center; letter-spacing: 0; vertical-align: middle;
						p { line-height: 22px; }
						p.left { width: 95%; display: inline-block; text-align: left; }
						p span { display: inline-block; text-align: left; }
						p span:first-child { width: 120px; margin-right: 35px; }
						p span:last-child { text-align: left; }
					}
					td.multiLine p {  margin: 7px 0; }
				}
			}
			th:not(:first-child) , td:not(:first-child) { border-left: 1px solid $line-color-table-1; }
			th , td * { letter-spacing: 0; }
			col:nth-child(1) { width:270px; }
			col:nth-child(2) { width:413px; }
			col:nth-child(3) {  }
		} 
	}
}


section#mainVisual-1 { background: url(../images/download/line-topbg.png) no-repeat #fff; background-position: 0 -500px; background-size: cover; text-align: left;
	div.bgObj-1 { width: 55%; position: absolute; right: 12%; bottom: 12%; max-width: 986px;
		img { width: 100%; height: auto; }
	}
	div.textContainer { top: 30% !important; position: relative; width: 50%;
		a#testGoButton { width:256px !important; height: 58px !important; background: url(../images/download/testin-button.png) no-repeat; background-size: contain; color: #fff; 
						display: inline-block; text-align: center; line-height: 58px; text-decoration: none; margin-top: 300px; position: relative;
			span.hoverCon { position: absolute; top:0; left: 0; right: 0; bottom: 0; background: #fff; opacity: 0; transition: .3s all ease-out; }
		}
		a#testGoButton:hover span.hoverCon { bottom: 50%; opacity: .1; }
		div.innerCon { position: absolute; display: inline-block; width: auto; top:0; left:0;
			h3 { font-size: 3em; line-height: 1.3em; letter-spacing: -3px; }
			h5 { font-size: 1.3em; font-weight: 300; line-height: 1.5em; letter-spacing: -.5px; }
		}
		div.textAnimation {
			div.innerCon * 		{ opacity: 0; transition: 1s all; }
			div.innerCon h3 { margin-left: 100px; }
			div.innerCon h5 { margin-left: 200px; }
			div.innerCon.on * 	{ opacity: 1; margin-left: 0; }
			div.simbolCounter { position: absolute; bottom: -70px;
				span.counterCon { display: block; float: left; margin-left: 20px; width:11px; height:12px; border-radius: 50%; background: $line-color; transition: 1s all; cursor: pointer; }
				span.counterCon:first-child { margin-left: 0; }
				span.counterCon.on { width: 38px; background: #023f7d; border-radius: 20px; }
			}
		}
	}
}

section#mainVisual-2 { background: #f9f9f9 !important;
	div.prodCon { margin-top: 6.5%; display: inline-block;
		div.product { width: calc(409px - 88px); padding: 42px 44px; text-align: center; float:left; background: #fff; margin-left: 31px;
			h5{ padding-top: 70%; background: url(../images/download/serviceintro-icon-1.png) no-repeat 50% 8%; font-size:28px; font-weight: 500; margin-bottom: 25px; }
			p { font-size: 14px; line-height: 28px; height: 68px; margin-bottom: 62px; color: #666; }
			button { width: 153px; height:51px; border: 1px solid #ddd; background: #fff; }
			button.serviceGo { background: #023f7d; color: #fff; margin-right: 10px; }
		}
		div.product:nth-child(2) h5 { background-image: url(../images/download/serviceintro-icon-2.png); }
		div.product:nth-child(3) h5 { background-image: url(../images/download/serviceintro-icon-3.png); }
		div.product:first-child { margin-left: 0; }
	}
}

section#mainVisual-3 { background: #fff !important;
	div.prodCon { margin-top: 5%; display: inline-block;
		div.product { width: calc(428px - 52px); padding-left: 48px; text-align: left; float:left; background: #fff; background: url(../images/download/pricing-i-01.png) no-repeat top 59px right 60px; border: 1px solid #ddd;
			h5{ margin-top:58px; font-size:24px; font-weight: 400; }
			p { margin-top:12px; font-size: 13px;font-weight: 300; height: 68px; color: #666; }
		}
		div.product:nth-child(2) { background-image: url(../images/download/pricing-i-02.png); border-left: none; width: calc(428px - 50px); }
		div.product:nth-child(3) { background-image: url(../images/download/pricing-i-03.png); border-left: none; width: calc(428px - 50px); }
		div.product:nth-child(4) { background-image: url(../images/download/pricing-i-04.png); }
		div.product.full { width: calc(1280px - 50px); margin-top: 22px; padding-bottom: 29px;
			div.innerProduct {
				div.policy { width: 383px; background: #f9f9f9; float: left; margin-left: 16px; padding: 39px 0;
					p { margin-left: 40px; height: 20px; margin-top: 0;
						span.pricePerUnit { float: right; margin-right: 40px; color: #0070d9; }
					}
				}
				div.policy:first-child { margin-left: 0; }
			}
		}
	}
}

section#mainVisual-4 { background: #f9f9f9 !important;
	div.visual-container { height: inherit;
		div.relativeContainer { position: relative; width: 100%; height: 100%; }
		div.visual-title { display: inline-block; position: absolute; left: 0;  top: 22%; 
			h2 { text-align: left; margin-bottom: 0; }
			h3 { text-align: left; font-size: 22px; line-height: 22px; margin-top: 26px; }
			p { text-align: left; font-size: 14px; line-height: normal; font-weight: 300; margin-top: 51px; }
			a#butotnGoPhoneSearch { display: inline-block; width: 341px; height: 74px; line-height: 74px; text-align: center; color: #fff; background: #023f7d; text-decoration: none; margin-top: 75px; }
		}
	}
	div.animationContainer{
		* { position: absolute; transform: rotate(45deg); transition: .5s all ease; }
		div.tablet { background: url(../images/download/i-pad-22.png) no-repeat; width: 637px; height: 866px; top: -110%; left: 0; transition-duration: 1s;}
		div.phone1 { background: url(../images/download/mobile-20.png) no-repeat; width: 252px; height: 477px; top: 100%; left: 30%; transition-delay: .3s; }
		div.phone2 { background: url(../images/download/mobile-022.png) no-repeat; width: 221px; height: 396px; top: -100%; left: 130%; }
	}
	div#supportDevices { position: absolute; right: 0;  top: 28%; width: 834px; height: 320px; overflow: hidden; /* overflow-x: auto; */ 
		div.deviceList { width: max-content;
			li.deviceInfo { margin-right: 20px !important; }
		}
	}
}
section#mainVisual-4.on {
	div.animationContainer {
		div.tablet { top: -50%; left: -22%; }
		div.phone1 { top: 77%; left: 45%; }
		div.phone2 { top: -10%; left: 94%; }
	}
}


section#mainVisual-5 { height: auto !important; padding: 160px 0; min-height: 400px !important;
	div.visual-title { margin-top: 0; }
	h2 { font-size: 36px; text-align: left; margin-bottom: 108px; color: #333;}
	div.partnersList { display: inline-block; width: 100%;
		div.partner { float: left; display: inline-block; width: 297px; height: 130px; border: 1px solid #e6e6e6; text-indent: -9999px; background: url(../images/download/hyunda-logo.png) no-repeat 50% 50%; margin-left: 31px; }
		div.partner:first-child { margin-left:0; }
		div.partner:nth-child(2) { background-image: url(../images/download/caselogo-002.png); }
		div.partner:nth-child(3) { background-image: url(../images/download/caselogo-003.png); }
		div.partner:nth-child(4) { background-image: url(../images/download/caselogo-001.png); }
	}
}


section.sectionCon { min-height: 880px;
	div.visual-container { display: block; width: 1300px; margin: 0 auto; 
		div.visual-title { margin-top: 5%;
			h2 { font-size: 60px; margin-bottom: 30px;  color: #023f7d; text-align: center; font-weight: 800; }
			h3 { font-size: 24px; font-weight: 300; text-align: center; color: #333; }
			h2 { opacity:0; transition: all .5s; }
			h3 { margin-bottom: 20px; opacity:0; transition: all 1s; }
		}
		div.content {
			display: inline-block;
		}
		div.btnSet { width: 100%; display: inline-block; text-align: center; margin-top: 4%;
			button.big.blue { width: 341px; height: 74px; font-size: 24px; }
		}
	}
}

section.sectionCon.on {
	div.visual-container{
		div.visual-title{
			h2 , h3 { opacity:1; }
			h3 { margin-bottom: 0px;  }
		}
	}
}